.astronmarine-news-list.news {
    
}

.astronmarine-news-list.news .news-item {
    font-size: 18px;
    padding-bottom: 25px;
}

.astronmarine-news-list.news .image {
    float: left;
    border: 1px solid #adb1b4;
    border-radius: 5px;
    margin: 0 40px 10px 0;
}

.astronmarine-news-list.news .title a {
    color: #8eb6c4;
    font-weight: bold;
}

.astronmarine-news-list.news .preview-text {
    padding-top: 20px;
    color: #b3b4b8;
}

#astronmarine-next-page {
    font-size: 14px;
    color: #8eb6cf;
    text-decoration: underline;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
}

#astronmarine-next-page img {
    position: absolute;
    display: none;
    top: 0;
    right: -30px;
}